body{
    background-color: darkgray;
}

.topBox {
    height: 100px;
    width: 100%;
    margin: 5px;
    background: white;
    position: relative;
}

h1 {
    padding: 0px 0;
    margin: 0;
    margin-left: 100;
    font-size: 28px;
    color: white;
    background: teal;
    float: left;
    vertical-align: middle;
    position: absolute;
    top: 50px;
    left: 20%;
}

a {
    padding: 0px 0;
    margin-top: 0;
    margin-left: 100;
    font-size: 15px;
    color: gray;
    background: white;
    padding-right: 5px;
    border-right: 1px solid gray;
}

h2{
    float: right;
    background: white;
    margin-bottom: 960px;
    vertical-align: top;
    position: absolute;
    top: 38px;
    right: 20%;
}

#BottomBox{
    width: 100%;
    height: 960px;
    margin: auto;
    background-image: url("./../images/Background.jpg");
    z-index: -1;
}

#InteriorBox{
    width: 65%;
    height: 960px;
    margin: auto;
    background-color: white;

}

.Pic{
    Position: relative;
    text-align: center;
    color: white;
    background-color: white;
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    margin: 50px;
    margin-left: 125px;
    top: 50px;
    opacity: 1;
    float: left;
    z-index: 0;

     
}

img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    float: left;
    z-index: 1;
    opacity: 1;
    
}

.Descriptor{
    position: absolute;
    bottom: 15px;
    z-index: 100;
    color: white;
    width: 100%;
    height: auto;
    background-color: teal;
    float: left;
    opacity: 0.8;
}

.blueFooterBox{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: teal;
    text-align: center;
    color: white;
    vertical-align: bottom;
    line-height: 100px;
    margin: auto;
}

.grayFooterBox{
    position: relative;
    width: 100%;
    height: 80px;
    top: 20px;
    background-color: darkgray;
    margin: auto;
}