body{
    background-image: url("./../images/Background.jpg");
}

/* Common Header Stuff */
.topBox {
    height: 100px;
    width: 100%;
    margin: 5px;
    background: white;
    position: relative;
}

h1 {
    padding: 0px 0;
    margin: 0;
    margin-left: -6%;
    font-size: 28px;
    color: white;
    background: teal;
    float: left;
    vertical-align: middle;
    position: absolute;
    bottom: 0%;
    left: 20%;
}

a {
    padding: 0px;
    margin-top: 0;
    font-size: 15px;
    color: gray;
    background: white;
    padding-right: 5px;
    border-right: 1px solid gray;
}

h2{
    float: right;
    background: white;
    /* margin-bottom: 960px; */
    vertical-align: top;
    position: absolute;
    bottom: 0.5%;
    right: 20%;
}
/* End Common Header Stuff */

/* Common Body Stuff */


#InteriorBox{
    width: 960px;
    height: auto;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    
    background-color: white;

}

.Header-Text{
    color: teal;
    font-size: 80px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 3%;
    text-align: left;
    
}

.gray-line{
    height: 3px;
    width: 90%;
    margin: auto;
    background-color: lightgray;
    opacity: 0.5;
}

.clear{
    clear:both;
}

/* End Common Body Stuff */

/* Portfolio Stuff */
.Pic{
    Position: relative;
    text-align: center;
    color: white;
    background-color: white;
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    margin: 50px;
    margin-left: 125px;
    top: 50px;
    opacity: 1;
    float: left;
    z-index: 0;

     
}

img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    float: left;
    z-index: 1;
    opacity: 1;
    
}

.Descriptor{
    position: absolute;
    bottom: 15px;
    z-index: 100;
    color: white;
    width: 100%;
    height: auto;
    background-color: teal;
    float: left;
    opacity: 0.8;
}
/* End Portfolio Stuff */

/* Footer Text Stuff */

.footer{
    /* position: absolute;
    bottom: 0%; */
    width: 100%;

}

.blueFooterBox{
    height: 100px;
    background-color: teal;
    text-align: center;
    color: white;
    vertical-align: bottom;
    line-height: 100px;
    margin: auto;
}

.grayFooterBox{
    position: relative;
    top: 20%;
    width: 100%;
    height: 80px;
    background-color: darkgray;
    margin: auto;
}
/* End Footer Text Stuff */


/* Stuff for my About Me Page */

.left{
    text-align: left;
    margin-left: 4%;
}

.pic-wrapper > img{
    width: 20%;
    height: 20%;
    float: left;
    margin: auto;
    margin-left: 0%;
    margin-right: 10px;
    margin-top: 1%;
}

.body-wrapper{
    margin: auto;
    margin-top:10%;
    width: 80%;
    height: auto;
    float: left;
    background-color: white;
}

.about{
    margin: auto;
    margin-left: 10%;
    margin-top: 3%;
    float: left;
}

/* End stuff for my about me page */

/* Stuff for my Contact Page */

form{
    margin-top: 3%;
    margin-left: 5%;
    color:black;
    font-size: 24px;
    text-align: left;
    
}